/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  display: block;
  min-height: 230px;
}

.navbar-default {
  height: 100px;
}

.home-carousel .owl-item .img-responsive {
  /*width: 100%;*/
  padding-right: 4em;
  padding-left: 4em;
}

h2 {
  padding-top: 150px;
  margin-top: -150px;
}

/* Dark theme */
/*.home-carousel {*/
  /*background: none; !important;*/
/*}*/

/*.home-carousel .dark-mask {*/
  /*background: none; !important;*/
/*}*/

/*.navbar-default .navbar-nav > li > a {*/
  /*color: #ffffff;*/
/*}*/

/*.navbar-default {*/
  /*background-color: #313030;*/
/*}*/

/*.home-carousel h1, .home-carousel h2, .home-carousel h3, .home-carousel p, .home-carousel ul {*/
  /*color: #555555;*/
/*}*/
