/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  display: block;
  min-height: 230px;
}

.navbar-brand {
  height: 62px;
}

@media (max-width: 1200px) {
  .navbar ul.nav > li > a {
    padding-left: 0;
    font-size: 15px;
  }
}

@media (max-width: 1000px) {
  .navbar ul.nav > li > a {
    padding-left: 0;
    padding-top: 18px;
    font-size: 12px;
  }
}

@media (min-width: 1000px) {
  .navbar-brand {
    height: 100px;
  }
}

.home-carousel .owl-item .img-responsive {
  /*width: 100%;*/
  padding-right: 4em;
  padding-left: 4em;
}

h2 {
  padding-top: 150px;
  margin-top: -150px;
}
