{{ if isset .Site.Params "carousel" }}
{{ if .Site.Params.carousel.enable }}
{{ if gt (len .Site.Data.carousel) 0 }}

{{ .Scratch.Set "baseUrl" .Site.BaseURL }}
<section>
    <div class="home-carousel">
        <div class="homepage owl-carousel">
            {{ range sort .Site.Data.carousel "weight" }}
            <div class="item">
                <div class="row" style="background-image: url('{{ .image }}')">
                    <div class="owl-carousel-item-text">
                        <a href="{{ $.Site.BaseURL }}{{ .url }}">
                            <h1>{{ .title }}</h1>
                        </a>
                        <!--<p>{{ .description | safeHTML }}</p>-->
                    </div>
                    <div class="dark-mask"></div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
